{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container mt-3">
    <h2>{{title}}</h2>
    <hr>
    <form method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Player Name</label>
        <input value="{{player.name}}" name="name" readonly type="text" class="form-control" id="name" required>
      </div>
      <div class="mb-3">
        <label for="position" class="form-label">Select Position</label>
        <select name="position" class="form-select" aria-readonly="true">
          <option value="Goalkeeper" {% if player.position == 'Goalkeeper' %}
            selected
          {% endif %}
          >Goalkeeper</option>
          <option value="Defender" {% if player.position == 'Defender' %}
            selected
          {% endif %}>Defender</option>
          <option value="Midfielder" {% if player.position == 'Midfielder' %}
            selected
          {% endif %}>Midfielder</option>
          <option value="Forward" {% if player.position == 'Forward' %}
            selected
          {% endif %}>Forward</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="nationality" class="form-label">Nationality</label>
        <input value="{{player.nationality}}" readonly name="nationality" type="text" class="form-control" id="nationality" required>
      </div>
      <div class="mb-3">
        <label for="goals" class="form-label">Goals</label>
        <input value="{{player.goals}}" name="goals" type="number" class="form-control" id="goals" required>
      </div>
      <div class="mb-3">
        <label for="squad_no" class="form-label">Squad No</label>
        <input value="{{player.squad_no}}" name="squad_no" type="number" class="form-control" id="squad_no" required>
      </div>
      <div class="mb-3">
        <label for="img" class="form-label">Image URL</label>
        <input value="{{player.img}}" name="img" type="text" class="form-control" id="img" required>
      </div>
      <div class="mb-3">
        <label for="position" class="form-label">Select Club</label>
        <select name="club_id" class="form-select" aria-label="Default select example">
          {% for club in clubs %}
            <option value="{{club.id}}" {% if player.club.name == club.name %}
              selected
            {% endif %}
            >{{club.name}}</option>
          {% endfor %}
          
        </select>
      </div>
      <button type="submit" class="btn btn-outline-success">
        <i class="bi bi-pencil-square"></i>
        Update Club
      </button>
    </form>
  </div>
{% endblock %}
