{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
  <div class="container mt-3 mb-3">
    <h2>{{title}}</h2>
    <hr>
    <form method="post">
      <div class="mb-3">
        <label for="name" class="form-label">Club Name</label>
        <input value="{{club.name}}" name="name" type="text" class="form-control" id="name" required>
      </div>
      <div class="mb-3">
        <label for="stadium" class="form-label">Stadium Name</label>
        <input value="{{club.stadium}}" name="stadium" type="text" class="form-control" id="stadium" required>
      </div>
      <div class="mb-3">
        <label for="year" class="form-label">Year</label>
        <input value="{{club.year}}" name="year" type="number" class="form-control" id="year" required>
      </div>
      <div class="mb-3">
        <label for="logo" class="form-label">Logo URL</label>
        <input value="{{club.logo}}" name="logo" type="text" class="form-control" id="logo" required>
      </div>
      <button type="submit" class="btn btn-outline-success">
        <i class="bi bi-pencil-square"></i>
        Update Club
      </button>
    </form>
  </div>
{% endblock %}